In [ ]:
************************************* 17th Feb Assg *************************************

In [ ]:
"""Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?"""

Ans:
    MongoDB is a non-relational document database that provides support for JSON-like storage.
    The MongoDB database has a flexible data model that enables you to store unstructured data, 
    and it provides full indexing support, and replication with rich and intuitive APIs.
    
    A non-relational database is a database that does not use the tabular schema of
    rows and columns found in most traditional database systems.
    
    MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions,
    MongoDB does not. The MS SQL server does not accommodate large amounts of data, however MongoDB does.

In [ ]:
"Q2. State and Explain the features of MongoDB."

Ans : 
    1. Support ad hoc queries: In MongoDB, you can search by field, range query and it also
                            supports regular expression searches.
    2. Indexing: You can index any field in a document.
    3. Replication: MongoDB supports Master Slave replication.
                    A master can perform Reads and Writes and a Slave copies data from the master
                    and can only be used for reads or back up (not writes).
    4. Duplication of data: MongoDB can run over multiple servers. The data is duplicated to keep 
                        the system up and also keep its running condition in case of hardware failure.
    5. Load balancing: It has an automatic load balancing configuration because of data placed in shards.

In [ ]:
"Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB."

Ans :

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 14.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://avinash:avinash@cluster0.wtwxoaj.mongodb.net/?retryWrites=true&w=majority")
db = client.database1
db.client["newdb"]
data = {"name" : "Avinash", "class" : "Data Science", "Roll no" : 461}
coll = db["newcoll"]
coll.insert_one(data)

In [ ]:
"""Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record."""

In [5]:
data2 = [
    {"name" : "Avi", "Roll" : 461},
    {"name" : "Ram", "Roll" : 451},
    {"name" : "Raju", "Roll" : 441}
]
coll.insert_many(data2)

In [6]:
for i in coll.find():
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b4'), 'name': 'Ram', 'Roll': 451}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}

In [7]:
coll.find_one()

{'_id': ObjectId('649335b889c46ee388a0e1b2'),
 'name': 'Avinash',
 'class': 'Data Science',
 'Roll no': 461}

In [8]:
coll.find_one({"name":"Avi"})

{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}

In [ ]:
"""Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this."""
Ans : 
    In mongoDB, the find() method is used to fetch a particular data from the table.
    it is used to select data in a table. It is also used to return all events to the selected data.
    The find() method consists of two parameters by which we can find a particular record.

In [9]:
for i in coll.find():
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b4'), 'name': 'Ram', 'Roll': 451}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}

In [ ]:
"Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB."
Ans : 
      The sort() Method: To sort documents in MongoDB, you need to use sort() method.
    The method accepts a document containing a list of fields along with their sorting order.
    To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

In [11]:
for i in coll.find().sort("Name"):
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b4'), 'name': 'Ram', 'Roll': 451}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}

In [ ]:
"Q7. Explain why delete_one(), delete_many(), and drop() is used."

In [13]:
coll.delete_one({"name":"Ram"})

In [14]:
for i in coll.find():
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}

In [16]:
data3 = [
  {
    "name": "John Doe",
    "age": 25,
    "email": "john.doe@example.com",
    "institute": "NIST"
  },
  {
    "name": "Jane Smith",
    "age": 30,
    "email": "jane.smith@example.com",
    "institute": "NIST"
  },
  {
    "name": "David Johnson",
    "age": 28,
    "email": "david.johnson@example.com",
    "institute": "NIST"
  }
]
coll.insert_many(data3)

In [17]:
for i in coll.find():
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}
{'_id': ObjectId('649339ba89c46ee388a0e1b6'), 'name': 'John Doe', 'age': 25, 'email': 'john.doe@example.com', 'institute': 'NIST'}
{'_id': ObjectId('649339ba89c46ee388a0e1b7'), 'name': 'Jane Smith', 'age': 30, 'email': 'jane.smith@example.com', 'institute': 'NIST'}
{'_id': ObjectId('649339ba89c46ee388a0e1b8'), 'name': 'David Johnson', 'age': 28, 'email': 'david.johnson@example.com', 'institute': 'NIST'}

In [18]:
coll.delete_many({"institute":"NIST"})

In [19]:
for i in coll.find():
    print(i)

{'_id': ObjectId('649335b889c46ee388a0e1b2'), 'name': 'Avinash', 'class': 'Data Science', 'Roll no': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b3'), 'name': 'Avi', 'Roll': 461}
{'_id': ObjectId('6493368989c46ee388a0e1b5'), 'name': 'Raju', 'Roll': 441}

In [20]:
coll.drop() """drop() method is used to drop a collection from a database. 
        It completely removes a collection from the database and does not leave
        any indexes associated with the dropped collections."""

In [21]:
for i in coll.find():
    print(i)